page-splash {
    ion-content {
        text-align: center;
        position: relative;
    }

    img {
        width: 150px;
        height: 150px;
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        top: 0px;
        bottom: 0px;
    }
}
